<!-- <div>Это главная страница!</div>
@for (applicant of applicants(); track applicant.id) {
<div>
  {{ applicant.id }} {{ applicant.person.firstName }}
  {{ applicant.person.lastName }}
  <button>-</button>
</div>
}@empty {
<div>Загрузка...</div>
} -->

<div class="header__search">
  <form class="form" [formGroup]="searchForm">
    <tui-input
      formControlName="search"
      class="form__input"
      [tuiTextfieldCleaner]="true"
      [tuiTextfieldIcon]="'@tui.search'"
    >
      Найти дело
      <input
        placeholder="Введите номер в архиве (из-за бэка пока так)..."
        tuiTextfieldLegacy
        type="text"
      />
    </tui-input>
  </form>
  <button tuiButton type="button" (click)="open.set(true)">Фильтры</button>
</div>

<tui-loader [overlay]="true" [showLoader]="!!applicants().isLoading">
  <tui-scrollbar class="table__scrollbar">
    <table
      *ngIf="applicants()?.data as data"
      tuiTable
      class="table table__container"
      [columns]="columns"
    >
      <thead tuiThead>
        <tr tuiThGroup>
          <th
            tuiTh
            rowspan="2"
            *tuiHead="'open'"
            [sorter]="null"
            [sticky]="false"
            [resizable]="true"
          ></th>
          @for (item of titleArray().slice(0, 7); track $index) {
          <th
            tuiTh
            rowspan="2"
            *tuiHead="item.target"
            [sorter]="null"
            [sticky]="false"
            [resizable]="true"
            (click)="onSortChange(item)"
          >
            <app-th-icon [direction]="item.direction" [sequence]="item.seq">
              {{ item.title }}
            </app-th-icon>
          </th>
          }

          <th
            *tuiHead="'passport.isMain'"
            colspan="3"
            tuiTh
            [sorter]="null"
            [resizable]="true"
          >
            Паспорт
          </th>
          <ng-container *tuiHead="'passport.isRegistration'" />
          <ng-container *tuiHead="'passport.isChangePassport'" />

          <th
            *tuiHead="'diploma.isTitlePage'"
            colspan="2"
            tuiTh
            [sorter]="null"
            [resizable]="true"
          >
            Диплом
          </th>
          <ng-container *tuiHead="'diploma.isAttachmentPage'" />

          <th
            *tuiHead="'statement.isFirst'"
            colspan="3"
            tuiTh
            [sorter]="null"
            [resizable]="true"
          >
            Заявление
          </th>
          <ng-container *tuiHead="'statement.isSecond'" />
          <ng-container *tuiHead="'statement.isThird'" />

          <th
            *tuiHead="'opd.isFirst'"
            colspan="4"
            tuiTh
            [sorter]="null"
            [resizable]="true"
          >
            ОПД
          </th>
          <ng-container *tuiHead="'opd.isSecond'" />
          <ng-container *tuiHead="'opd.isThird'" />
          <ng-container *tuiHead="'opd.isFourth'" />

          @for (item of titleArray().slice(19, 22); track $index) {
          <th
            tuiTh
            rowspan="2"
            *tuiHead="item.target"
            [sorter]="null"
            [sticky]="false"
            [resizable]="true"
            (click)="onSortChange(item)"
          >
            <app-th-icon [direction]="item.direction" [sequence]="item.seq">
              {{ item.title }}
            </app-th-icon>
          </th>
          }
        </tr>

        <tr tuiThGroup>
          @for (item of titleArray().slice(7, 19); track $index) {
          <th
            tuiTh
            *tuiHead="item.target"
            [sorter]="null"
            [sticky]="false"
            [resizable]="true"
            (click)="onSortChange(item)"
          >
            <app-th-icon [direction]="item.direction" [sequence]="item.seq">
              {{ item.title }}
            </app-th-icon>
          </th>
          }
        </tr>
      </thead>

      <tbody
        *tuiLet="data | tuiTableSort as sortedData"
        tuiTbody
        [data]="sortedData"
      >
        <tr *ngFor="let item of sortedData" tuiTr>
          <td *tuiCell="'open'" tuiTd>
            <span tuiStatus>
              <button
                appearance="action"
                iconStart="@tui.pencil"
                size="xs"
                tuiIconButton
                type="button"
                (click)="showDialog(item)"
              >
                Edit
              </button>
            </span>
          </td>
          <td *tuiCell="'archiveNumber'" tuiTd>
            {{ item.archiveNumber }}
          </td>
          <td *tuiCell="'person.lastName'" tuiTd>
            {{ item.person.lastName }}
          </td>
          <td *tuiCell="'person.firstName'" tuiTd>
            {{ item.person.firstName }}
          </td>
          <td *tuiCell="'person.middleName'" tuiTd>
            {{ item.person.middleName }}
          </td>
          <td *tuiCell="'managersId'" tuiTd>
            {{ item.managersId }}
          </td>
          <td *tuiCell="'currentLocationsId'" tuiTd>
            {{ item.currentLocationsId }}
          </td>
          <td
            *tuiCell="'isSnils'"
            tuiTd
            class="{{ getStatusColor(item.isSnils) }}"
          >
            {{ getStatusText(item.isSnils) }}
          </td>

          <td
            *tuiCell="'passport.isMain'"
            tuiTd
            class="{{ getStatusColor(item.passport.isMain) }}"
          >
            {{ getStatusText(item.passport.isMain) }}
          </td>
          <td
            *tuiCell="'passport.isRegistration'"
            tuiTd
            class="{{ getStatusColor(item.passport.isRegistration) }}"
          >
            {{ getStatusText(item.passport.isRegistration) }}
          </td>
          <td
            *tuiCell="'passport.isChangePassport'"
            tuiTd
            class="{{ getStatusColor(item.passport.isChangePassport) }}"
          >
            {{ getStatusText(item.passport.isChangePassport) }}
          </td>

          <td
            *tuiCell="'diploma.isTitlePage'"
            tuiTd
            class="{{ getStatusColor(item.diploma.isTitlePage) }}"
          >
            {{ getStatusText(item.diploma.isTitlePage) }}
          </td>
          <td
            *tuiCell="'diploma.isAttachmentPage'"
            tuiTd
            class="{{ getStatusColor(item.diploma.isAttachmentPage) }}"
          >
            {{ getStatusText(item.diploma.isAttachmentPage) }}
          </td>

          <td
            *tuiCell="'statement.isFirst'"
            tuiTd
            class="{{ getStatusColor(item.statement.isFirst) }}"
          >
            {{ getStatusText(item.statement.isFirst) }}
          </td>
          <td
            *tuiCell="'statement.isSecond'"
            tuiTd
            class="{{ getStatusColor(item.statement.isSecond) }}"
          >
            {{ getStatusText(item.statement.isSecond) }}
          </td>
          <td
            *tuiCell="'statement.isThird'"
            tuiTd
            class="{{ getStatusColor(item.statement.isThird) }}"
          >
            {{ getStatusText(item.statement.isThird) }}
          </td>

          <td
            *tuiCell="'opd.isFirst'"
            tuiTd
            class="{{ getStatusColor(item.opd.isFirst) }}"
          >
            {{ getStatusText(item.opd.isFirst) }}
          </td>
          <td
            *tuiCell="'opd.isSecond'"
            tuiTd
            class="{{ getStatusColor(item.opd.isSecond) }}"
          >
            {{ getStatusText(item.opd.isSecond) }}
          </td>
          <td
            *tuiCell="'opd.isThird'"
            tuiTd
            class="{{ getStatusColor(item.opd.isThird) }}"
          >
            {{ getStatusText(item.opd.isThird) }}
          </td>
          <td
            *tuiCell="'opd.isFourth'"
            tuiTd
            class="{{ getStatusColor(item.opd.isFourth) }}"
          >
            {{ getStatusText(item.opd.isFourth) }}
          </td>

          <td
            *tuiCell="'isMarriage'"
            tuiTd
            class="{{ getStatusColor(item.isMarriage) }}"
          >
            {{ getStatusText(item.isMarriage) }}
          </td>
          <td
            *tuiCell="'isNameChange'"
            tuiTd
            class="{{ getStatusColor(item.isNameChange) }}"
          >
            {{ getStatusText(item.isNameChange) }}
          </td>
          <td *tuiCell="'comment'" tuiTd class="td__comment">
            <tui-scrollbar class="comment">
              <div>
                {{ item.comment }}
              </div>
            </tui-scrollbar>
          </td>
        </tr>
      </tbody>

      <tfoot>
        <tr>
          <td [colSpan]="columns.length">
            <tui-table-pagination
              class="tui-space_top-2"
              [page]="(page$ | async) || 0"
              [total]="applicants()?.pagination?.items || 0"
              (paginationChange)="onPagination($event)"
            />
          </td>
        </tr>
      </tfoot>
    </table>
  </tui-scrollbar>
</tui-loader>

<tui-drawer
  *tuiPopup="open()"
  direction="left"
  class="drawer"
  [overlay]="true"
  (click.self)="onClose()"
>
  <header class="header">
    <h2 tuiHeader>
      <div tuiTitle>Фильтры</div>
      <div tuiAccessories>
        <button tuiButton type="button" (click)="onClose()">Закрыть</button>
      </div>
    </h2>
  </header>
  <app-form-filter></app-form-filter>
</tui-drawer>

<!-- <div class="box">
  @for (status of status(); track status.id) {
  <div>
    {{ status.id }} {{ status.text }}
    <button>-</button>
  </div>
  }@empty {
  <div>Загрузка...</div>
  }
</div>

<div class="box">
  @for (location of locations(); track location.id) {
  <div>
    {{ location.id }} {{ location.text }}
    <button>-</button>
  </div>
  }@empty {
  <div>Загрузка...</div>
  }
</div>

<div class="box">
  @for (manager of managers(); track manager.id) {
  <div>
    {{ manager.id }} {{ manager.firstName }} {{ manager.lastName }}
    {{ manager.middleName }}
    <button>-</button>
  </div>
  }@empty {
  <div>Загрузка...</div>
  }
</div> -->
