<!-- <div>Это главная страница!</div>
@for (applicant of applicants(); track applicant.id) {
<div>
  {{ applicant.id }} {{ applicant.person.firstName }}
  {{ applicant.person.lastName }}
  <button>-</button>
</div>
}@empty {
<div>Загрузка...</div>
} -->

<div tuiTextfieldSize="m" class="filters filter__container">
  <tui-input class="input" [tuiTextfieldCleaner]="true" [(ngModel)]="search">
    Find on page
  </tui-input>
  <tui-input-number [formControl]="minAge" [tuiNumberFormat]="{ precision: 0 }">
    Minimum age
  </tui-input-number>
</div>

<tui-loader [overlay]="true" [showLoader]="!!(loading$ | async)">
  <table
    *ngIf="applicants() as data"
    tuiTable
    class="table table__container"
    [columns]="columns"
    [direction]="(direction$ | async) || 1"
    [tuiSortBy]="sorter$ | async"
    (directionChange)="direction$.next($event)"
    (tuiSortByChange)="sorter$.next($event!)"
  >
    <thead tuiThead>
      <tr tuiThGroup>
        <th
          *tuiHead="'archiveNumber'"
          rowspan="2"
          tuiTh
          tuiSortable
          [sticky]="true"
        >
          Номер в архиве
        </th>
        <th *tuiHead="'lastName'" rowspan="2" tuiSortable tuiTh [sticky]="true">
          Фамилия
        </th>
        <th
          *tuiHead="'firstName'"
          rowspan="2"
          tuiSortable
          tuiTh
          [requiredSort]="true"
          [sticky]="true"
        >
          Имя
        </th>
        <th
          *tuiHead="'middleName'"
          rowspan="2"
          tuiSortable
          tuiTh
          [requiredSort]="true"
          [sticky]="true"
        >
          Отчество
        </th>
        <th
          *tuiHead="'managersId'"
          rowspan="2"
          tuiSortable
          tuiTh
          [requiredSort]="true"
          [sticky]="true"
        >
          Менед-жер
        </th>
        <th
          *tuiHead="'currentLocationsId'"
          rowspan="2"
          tuiSortable
          tuiTh
          [requiredSort]="true"
          [sticky]="true"
        >
          Нахо-дится
        </th>
        <th
          *tuiHead="'isSnils'"
          rowspan="2"
          tuiSortable
          tuiTh
          [requiredSort]="true"
          [sticky]="true"
        >
          CНИЛС
        </th>

        <th *tuiHead="'isMain'" colspan="3" tuiTh [sorter]="null">Паспорт</th>
        <ng-container *tuiHead="'isRegistration'" />
        <ng-container *tuiHead="'isChangePassport'" />

        <th *tuiHead="'isTitlePage'" colspan="2" tuiTh [sorter]="null">
          Диплом
        </th>
        <ng-container *tuiHead="'isAttachmentPage'" />

        <th *tuiHead="'statementIsFirst'" colspan="3" tuiTh [sorter]="null">
          Заявление
        </th>
        <ng-container *tuiHead="'statementIsSecond'" />
        <ng-container *tuiHead="'statementIsThird'" />

        <th *tuiHead="'opdIsFirst'" colspan="4" tuiTh [sorter]="null">ОПД</th>
        <ng-container *tuiHead="'opdIsSecond'" />
        <ng-container *tuiHead="'opdIsThird'" />
        <ng-container *tuiHead="'opdIsFourth'" />

        <th
          *tuiHead="'isMarriage'"
          rowspan="2"
          tuiSortable
          tuiTh
          [requiredSort]="true"
          [sticky]="true"
        >
          Брак
        </th>
        <th
          *tuiHead="'isNameChange'"
          rowspan="2"
          tuiSortable
          tuiTh
          [requiredSort]="true"
          [sticky]="true"
        >
          Смена ФИО
        </th>
        <th
          *tuiHead="'comment'"
          rowspan="2"
          tuiSortable
          tuiTh
          [requiredSort]="true"
          [sticky]="true"
        >
          Комментарий
        </th>
      </tr>

      <tr tuiThGroup>
        <th *tuiHead="'isMain'" tuiSortable tuiTh [requiredSort]="true">1-2</th>
        <th *tuiHead="'isRegistration'" tuiSortable tuiTh [requiredSort]="true">
          5-6
        </th>
        <th
          *tuiHead="'isChangePassport'"
          tuiSortable
          tuiTh
          [requiredSort]="true"
        >
          18-19
        </th>

        <th *tuiHead="'isTitlePage'" tuiSortable tuiTh [requiredSort]="true">
          Тит
        </th>
        <th
          *tuiHead="'isAttachmentPage'"
          tuiSortable
          tuiTh
          [requiredSort]="true"
        >
          Прл
        </th>

        <th
          *tuiHead="'statementIsFirst'"
          tuiSortable
          tuiTh
          [requiredSort]="true"
        >
          Заяв
        </th>
        <th
          *tuiHead="'statementIsSecond'"
          tuiSortable
          tuiTh
          [requiredSort]="true"
        >
          Прл
        </th>
        <th
          *tuiHead="'statementIsThird'"
          tuiSortable
          tuiTh
          [requiredSort]="true"
        >
          Согл
        </th>

        <th *tuiHead="'opdIsFirst'" tuiSortable tuiTh [requiredSort]="true">
          С1
        </th>
        <th *tuiHead="'opdIsSecond'" tuiSortable tuiTh [requiredSort]="true">
          С2
        </th>
        <th *tuiHead="'opdIsThird'" tuiSortable tuiTh [requiredSort]="true">
          Р1
        </th>
        <th *tuiHead="'opdIsFourth'" tuiSortable tuiTh [requiredSort]="true">
          Р2
        </th>
      </tr>
    </thead>

    <tbody
      *tuiLet="data | tuiTableSort as sortedData"
      tuiTbody
      [data]="sortedData"
    >
      <tr *ngFor="let item of sortedData" tuiTr>
        <td
          *tuiCell="'archiveNumber'"
          tuiTd
          [class.match]="isMatch(item.archiveNumber)"
        >
          {{ item.archiveNumber }}
        </td>
        <td
          *tuiCell="'lastName'"
          tuiTd
          [class.match]="isMatch(item.person.lastName)"
        >
          {{ item.person.lastName }}
        </td>
        <td
          *tuiCell="'firstName'"
          tuiTd
          [class.match]="isMatch(item.person.firstName)"
        >
          {{ item.person.firstName }}
        </td>
        <td
          *tuiCell="'middleName'"
          tuiTd
          [class.match]="isMatch(item.person.middleName)"
        >
          {{ item.person.middleName }}
        </td>
        <td
          *tuiCell="'managersId'"
          tuiTd
          [class.match]="isMatch(item.managersId)"
        >
          {{ item.managersId }}
        </td>
        <td
          *tuiCell="'currentLocationsId'"
          tuiTd
          [class.match]="isMatch(item.currentLocationsId)"
        >
          {{ item.currentLocationsId }}
        </td>
        <td *tuiCell="'isSnils'" tuiTd [class.match]="isMatch(item.isSnils)">
          {{ item.isSnils }}
        </td>

        <td
          *tuiCell="'isMain'"
          tuiTd
          [class.match]="isMatch(item.passport.isMain)"
        >
          {{ item.passport.isMain }}
        </td>
        <td
          *tuiCell="'isRegistration'"
          tuiTd
          [class.match]="isMatch(item.passport.isRegistration)"
        >
          {{ item.passport.isRegistration }}
        </td>
        <td
          *tuiCell="'isChangePassport'"
          tuiTd
          [class.match]="isMatch(item.passport.isChangePassport)"
        >
          {{ item.passport.isChangePassport }}
        </td>

        <td
          *tuiCell="'isTitlePage'"
          tuiTd
          [class.match]="isMatch(item.diploma.isTitlePage)"
        >
          {{ item.diploma.isTitlePage }}
        </td>
        <td
          *tuiCell="'isAttachmentPage'"
          tuiTd
          [class.match]="isMatch(item.diploma.isAttachmentPage)"
        >
          {{ item.diploma.isAttachmentPage }}
        </td>

        <td
          *tuiCell="'statementIsFirst'"
          tuiTd
          [class.match]="isMatch(item.statement.isFirst)"
        >
          {{ item.statement.isFirst }}
        </td>
        <td
          *tuiCell="'statementIsSecond'"
          tuiTd
          [class.match]="isMatch(item.statement.isSecond)"
        >
          {{ item.statement.isSecond }}
        </td>
        <td
          *tuiCell="'statementIsThird'"
          tuiTd
          [class.match]="isMatch(item.statement.isThird)"
        >
          {{ item.statement.isThird }}
        </td>

        <td
          *tuiCell="'opdIsFirst'"
          tuiTd
          [class.match]="isMatch(item.opd.isFirst)"
        >
          {{ item.opd.isFirst }}
        </td>
        <td
          *tuiCell="'opdIsSecond'"
          tuiTd
          [class.match]="isMatch(item.opd.isSecond)"
        >
          {{ item.opd.isSecond }}
        </td>
        <td
          *tuiCell="'opdIsThird'"
          tuiTd
          [class.match]="isMatch(item.opd.isThird)"
        >
          {{ item.opd.isThird }}
        </td>
        <td
          *tuiCell="'opdIsFourth'"
          tuiTd
          [class.match]="isMatch(item.opd.isFourth)"
        >
          {{ item.opd.isFourth }}
        </td>

        <td
          *tuiCell="'isMarriage'"
          tuiTd
          [class.match]="isMatch(item.isMarriage)"
        >
          {{ item.isMarriage }}
        </td>
        <td
          *tuiCell="'isNameChange'"
          tuiTd
          [class.match]="isMatch(item.isNameChange)"
        >
          {{ item.isNameChange }}
        </td>
        <td
          *tuiCell="'comment'"
          tuiTd
          [class.match]="isMatch(item.comment)"
          class="td__comment"
        >
          <tui-scrollbar class="comment">
            <div>
              {{ item.comment }}
            </div>
          </tui-scrollbar>
        </td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td [colSpan]="columns.length">
          <tui-table-pagination
            class="tui-space_top-2"
            [page]="(page$ | async) || 0"
            [total]="(total$ | async) || 0"
            (paginationChange)="onPagination($event)"
          />
        </td>
      </tr>
    </tfoot>
  </table>
</tui-loader>
