.filter__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.table__container {
  width: 100%;
  background-color: var(--c-light);
  max-width: inherit;
  overflow-x: scroll;
  margin-bottom: 1rem;
}

.table__scrollbar {
  overflow-x: scroll;
}

th {
  padding: 0 0.25rem;
}



td {
  padding: 0.5rem !important;
}

.td__comment {
  width: 11%;
}

.comment {
  max-height: 57px;
  overflow-y: scroll;
}

// .box {
//   margin-bottom: 50px;
//   padding: 15px;
//   border: 1px solid #e0e0e0;
// }
