:host {
  height: 100%;
}
.title {
  font-size: var(--fz-m);
  margin-bottom: 0.35rem;
}
.label {
  margin-bottom: 0.2rem;
}

.checkbox__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  flex: 1;
}
