:host {
  border-bottom: 1px solid var(--c-dark);
  margin-bottom: 2rem;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 0;
}

.header__logo {
  font: var(--tui-font-heading-3);
  font-weight: 700;
}
