<h2 class="title">
  Дело <b>{{ data.archiveNumber }}</b> находится на стеллаже
  <b>{{ locInArc.rack }}</b
  >, в коробке <b>{{ locInArc.box }}</b
  >. Уровень образования <b>{{ locInArc.formEducation.text }}</b
  >.
</h2>

<form class="form" [formGroup]="form">
  <h3 class="subtitle">Общая информация о деле</h3>
  <div class="box box__four">
    <tui-input
      formControlName="fio"
      class="form__input"
      [tuiTextfieldSize]="'l'"
    >
      ФИО
      <input tuiTextfieldLegacy type="text" />
    </tui-input>
    <tui-input
      formControlName="archiveNumber"
      class="form__input"
      [tuiTextfieldSize]="'l'"
    >
      Номер в архиве
      <input tuiTextfieldLegacy type="text" />
    </tui-input>
    <tui-input
      formControlName="managersId"
      class="form__input"
      [tuiTextfieldSize]="'l'"
    
    >
      Менеджер
      <input tuiTextfieldLegacy type="text" />
    </tui-input>
    <tui-input
      formControlName="currentLocationsId"
      class="form__input"
      [tuiTextfieldSize]="'l'"
    >
      Находится
      <input tuiTextfieldLegacy type="text" />
    </tui-input>
  </div>

  <h3 class="subtitle">ОПД</h3>
  <div class="box box__four">
    <app-radio
      formGName="opd"
      formCName="isFirst"
      [params]="radioParams.slice(0, 2)"
      >Согласие 1</app-radio
    >
    <app-radio
      formGName="opd"
      formCName="isSecond"
      [params]="radioParams.slice(0, 2)"
      >Согласие 2</app-radio
    >
    <app-radio
      formGName="opd"
      formCName="isThird"
      [params]="radioParams.slice(0, 2)"
      >Приложение 1</app-radio
    >
    <app-radio
      formGName="opd"
      formCName="isFourth"
      [params]="radioParams.slice(0, 2)"
      >Приложение 2</app-radio
    >
  </div>

  <h3 class="subtitle">Заявление</h3>
  <div class="box box__three">
    <app-radio
      formGName="statement"
      formCName="isFirst"
      [params]="radioParams.slice(0, 2)"
      >Заявление</app-radio
    >

    <app-radio
      formGName="statement"
      formCName="isSecond"
      [params]="radioParams.slice(0, 2)"
      >Приложение</app-radio
    >

    <app-radio
      formGName="statement"
      formCName="isThird"
      [params]="radioParams.slice(0, 2)"
      >Согласие</app-radio
    >
  </div>

  <h3 class="subtitle">Паспорт</h3>
  <div class="box box__three">
    <app-radio
      formGName="passport"
      formCName="isMain"
      [params]="radioParams.slice(0, 2)"
      >1-2</app-radio
    >
    <app-radio
      formGName="passport"
      formCName="isRegistration"
      [params]="radioParams.slice(0, 2)"
      >5-6</app-radio
    >
    <app-radio
      formGName="passport"
      formCName="isChangePassport"
      [params]="radioParams.slice(0, 3)"
      >18-19</app-radio
    >
  </div>

  <h3 class="subtitle">Диплом</h3>
  <div class="box box__two">
    <app-radio
      formGName="diploma"
      formCName="isTitlePage"
      [params]="radioParams.slice(0, 2)"
      >Титульный лист</app-radio
    >
    <app-radio
      formGName="diploma"
      formCName="isAttachmentPage"
      [params]="radioParams.slice(0, 2)"
      >Лист приложения</app-radio
    >
  </div>

  <h3 class="subtitle">Остальное</h3>
  <div class="box box__three">
    <app-radio
      formCName="isSnils"
      [params]="radioParams.slice(0, 2).concat(radioParams.slice(3, 4))"
      >СНИЛС</app-radio
    >
    <app-radio formCName="isMarriage" [params]="radioParams">Брак</app-radio>
    <app-radio formCName="isNameChange" [params]="radioParams"
      >Смена ФИО</app-radio
    >
  </div>

  <h3 class="subtitle">Комментарий</h3>

  <tui-textarea
    formControlName="comment"
    [expandable]="true"
    [tuiTextfieldSize]="'l'"
    class="form__textarea"
  >
    Важные примечания
  </tui-textarea>
</form>

<div class="button__container">
  <button
    size="m"
    tuiButton
    type="button"
    [disabled]="isEdit()"
    (click)="submit()"
  >
    Сохранить
  </button>

  <button size="m" tuiButton type="button" (click)="edit()">
    Редактировать
  </button>

  <button size="m" tuiButton type="button" (click)="cancel()">Выйти</button>

  <!-- <button size="m" tuiButton type="button" (click)="showDialog(template)">
    Выйти
  </button> -->
</div>
