.th-span {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: var(--c-black);
  }
}

.th__box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
